<template>
    <div>
        <AdminForm />
    </div>
</template>
<script>
    import AdminForm from '~/components/Admin/AdminForm'
    export default {
        components: { AdminForm },
        data(){
            return {}
        }
    }
</script>
<style>

</style>

